<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epay.scanposp.dao.DebitNoteIpMapper">
  <resultMap id="BaseResultMap" type="com.epay.scanposp.entity.DebitNoteIp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="route_id" jdbcType="VARCHAR" property="routeId" />
    <result column="txn_method" jdbcType="VARCHAR" property="txnMethod" />
    <result column="txn_type" jdbcType="CHAR" property="txnType" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="sub_merchant_code" jdbcType="VARCHAR" property="subMerchantCode" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, member_id, merchant_code, order_code, 
    route_id,txn_method, txn_type,create_by, create_date, update_by, update_date, ip,sub_merchant_code,status
  </sql>
  <select id="selectByExample" parameterType="com.epay.scanposp.entity.DebitNoteIpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_debit_note_ip
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart&gt;=0">
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bu_debit_note_ip
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <insert id="insert" parameterType="com.epay.scanposp.entity.DebitNoteIp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into bu_debit_note_ip (member_id,merchant_code, order_code,
      route_id,txn_method, txn_type,create_by,create_date, update_by, update_date,ip)
    values (#{memberId,jdbcType=INTEGER},#{merchantCode,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, 
      #{routeId,jdbcType=VARCHAR},#{txnMethod,jdbcType=VARCHAR},#{txnType,jdbcType=CHAR},#{createBy,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},#{ip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.epay.scanposp.entity.DebitNoteIp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into bu_debit_note_ip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        member_id,
      </if>
      <if test="merchantCode != null">
        merchant_code,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="routeId != null">
        route_id,
      </if>
      <if test="txnMethod != null">
        txn_method,
      </if>
      <if test="txnType != null">
        txn_type,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="subMerchantCode != null">
        sub_merchant_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null">
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="routeId != null">
        #{routeId,jdbcType=VARCHAR},
      </if>
      <if test="txnMethod != null">
        #{txnMethod,jdbcType=VARCHAR},
      </if>
      <if test="txnType != null">
        #{txnType,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="subMerchantCode != null">
        #{subMerchantCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.epay.scanposp.entity.DebitNoteIpExample" resultType="java.lang.Integer">
    select count(*) from bu_debit_note_ip
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="countDebitNoteIpByCondition" parameterType="java.util.Map" resultType="java.lang.Integer">
  		SELECT
			count(1) counts
		FROM
			bu_debit_note_ip t
		WHERE 1=1 AND t.`status` in('0','1')
		<if test="memberId != null" >
			AND t.member_id = #{memberId,jdbcType=INTEGER} 
		</if>
  		<if test="routeId != null" >
			AND t.route_id = #{routeId,jdbcType=VARCHAR} 
		</if>
		<if test="txnMethod != null" >
			AND t.txn_method = #{txnMethod,jdbcType=VARCHAR} 
		</if>
		<if test="txnType != null" >
			AND t.txn_type = #{txnType,jdbcType=VARCHAR} 
		</if>
		<if test="merchantCode != null" >
			AND t.merchant_code = #{merchantCode,jdbcType=VARCHAR} 
		</if>
		<if test="ip != null" >
			AND t.ip = #{ip,jdbcType=VARCHAR} 
		</if>
		<![CDATA[
  		AND t.create_date >= DATE_SUB(
			SYSDATE(),
			INTERVAL #{seconds,jdbcType=INTEGER}  SECOND
		)
  		]]>
  </select>
  
  <update id="updateByPrimaryKey" parameterType="com.epay.scanposp.entity.DebitNoteIp">
    update bu_debit_note_ip
    set status = #{status,jdbcType=CHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByIp" parameterType="java.util.Map" resultMap="BaseResultMap">
  	 select
    	<include refid="Base_Column_List" />
    FROM bu_debit_note_ip t where t.ip=#{ip,jdbcType=VARCHAR} 
     and t.route_id=#{routeId,jdbcType=VARCHAR} 
     and t.txn_type=#{txnType,jdbcType=VARCHAR}
     and t.create_date>=(SELECT GREATEST(IFNULL(MAX(t.create_date),#{createDate,jdbcType=VARCHAR}),#{createDate,jdbcType=VARCHAR}) 
	 FROM bu_ip_blacklist t WHERE t.ip=#{ip,jdbcType=VARCHAR} AND t.txn_type=#{txnType,jdbcType=VARCHAR} and t.route_code=#{routeId,jdbcType=VARCHAR} and t.black_type='1')
      ORDER BY t.create_date DESC
  </select>
  
  
  <select id="getAllCountByCondition" parameterType="java.util.Map" resultType="java.lang.Integer">
  		SELECT
			count(1) counts
		FROM
			bu_debit_note_ip t
		WHERE 1=1 AND t.`status` in('0','1')
		<if test="routeId != null" >
			AND t.route_id = #{routeId,jdbcType=VARCHAR} 
		</if>
		<if test="txnMethod != null" >
			AND t.txn_method = #{txnMethod,jdbcType=VARCHAR} 
		</if>
		<if test="txnType != null" >
			AND t.txn_type = #{txnType,jdbcType=VARCHAR} 
		</if>
		<if test="ip != null" >
			AND t.ip = #{ip,jdbcType=VARCHAR} 
		</if>
		<![CDATA[
  		AND t.create_date >= #{createDate,jdbcType=VARCHAR}
  		]]>
  </select>
  
  <select id="getNotPayCountByCondition" parameterType="java.util.Map" resultType="java.lang.Integer">
  		SELECT
			count(1) counts
		FROM
			bu_debit_note_ip t
		WHERE 1=1 AND t.`status` = '0'
		<if test="routeId != null" >
			AND t.route_id = #{routeId,jdbcType=VARCHAR} 
		</if>
		<if test="txnMethod != null" >
			AND t.txn_method = #{txnMethod,jdbcType=VARCHAR} 
		</if>
		<if test="txnType != null" >
			AND t.txn_type = #{txnType,jdbcType=VARCHAR} 
		</if>
		<if test="ip != null" >
			AND t.ip = #{ip,jdbcType=VARCHAR} 
		</if>
		<![CDATA[
  		AND t.create_date >= #{createDate,jdbcType=VARCHAR} AND t.create_date < DATE_SUB(SYSDATE(),INTERVAL 60  SECOND)
  		]]>
  </select>
  
  
  
</mapper>