<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epay.scanposp.dao.MemberMerchantCodeMapper">
  <resultMap id="BaseResultMap" type="com.epay.scanposp.entity.MemberMerchantCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="route_code" jdbcType="VARCHAR" property="routeCode" />
    <result column="aisle_type" jdbcType="VARCHAR" property="aisleType" />
    <result column="wx_merchant_code" jdbcType="VARCHAR" property="wxMerchantCode" />
    <result column="zfb_merchant_code" jdbcType="VARCHAR" property="zfbMerchantCode" />
    <result column="qq_merchant_code" jdbcType="VARCHAR" property="qqMerchantCode" />
    <result column="bd_merchant_code" jdbcType="VARCHAR" property="bdMerchantCode" />
    <result column="jd_merchant_code" jdbcType="VARCHAR" property="jdMerchantCode" />
    <result column="wy_merchant_code" jdbcType="VARCHAR" property="wyMerchantCode" />
    <result column="t0_draw_fee" jdbcType="DECIMAL" property="t0DrawFee" />
    <result column="t0_trade_rate" jdbcType="DECIMAL" property="t0TradeRate" />
    <result column="t1_draw_fee" jdbcType="DECIMAL" property="t1DrawFee" />
    <result column="t1_trade_rate" jdbcType="DECIMAL" property="t1TradeRate" />
    <result column="t1_draw_rate" jdbcType="DECIMAL" property="t1DrawRate" />
    <result column="t0_draw_rate" jdbcType="DECIMAL" property="t0DrawRate" />
    
    <result column="zfb_t0_draw_fee" jdbcType="DECIMAL" property="zfbT0DrawFee" />
    <result column="zfb_t0_trade_rate" jdbcType="DECIMAL" property="zfbT0TradeRate" />
    <result column="zfb_t1_draw_fee" jdbcType="DECIMAL" property="zfbT1DrawFee" />
    <result column="zfb_t1_trade_rate" jdbcType="DECIMAL" property="zfbT1TradeRate" />
    
    <result column="qq_t0_draw_fee" jdbcType="DECIMAL" property="qqT0DrawFee" />
    <result column="qq_t0_trade_rate" jdbcType="DECIMAL" property="qqT0TradeRate" />
    <result column="qq_t1_draw_fee" jdbcType="DECIMAL" property="qqT1DrawFee" />
    <result column="qq_t1_trade_rate" jdbcType="DECIMAL" property="qqT1TradeRate" />
    
    <result column="jd_t0_draw_fee" jdbcType="DECIMAL" property="jdT0DrawFee" />
    <result column="jd_t0_trade_rate" jdbcType="DECIMAL" property="jdT0TradeRate" />
    <result column="jd_t1_draw_fee" jdbcType="DECIMAL" property="jdT1DrawFee" />
    <result column="jd_t1_trade_rate" jdbcType="DECIMAL" property="jdT1TradeRate" />
    
    <result column="wy_t0_draw_fee" jdbcType="DECIMAL" property="wyT0DrawFee" />
    <result column="wy_t0_trade_rate" jdbcType="DECIMAL" property="wyT0TradeRate" />
    <result column="wy_t1_draw_fee" jdbcType="DECIMAL" property="wyT1DrawFee" />
    <result column="wy_t1_trade_rate" jdbcType="DECIMAL" property="wyT1TradeRate" />
    
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, member_id, route_code,aisle_type,wx_merchant_code, zfb_merchant_code, qq_merchant_code,bd_merchant_code,jd_merchant_code,wy_merchant_code,
    t0_draw_fee, t0_trade_rate,t0_draw_rate, t1_draw_fee, t1_trade_rate,t1_draw_rate,zfb_t0_draw_fee,zfb_t0_trade_rate,zfb_t1_draw_fee,zfb_t1_trade_rate,qq_t0_draw_fee,qq_t0_trade_rate,
    qq_t1_draw_fee,qq_t1_trade_rate,jd_t0_draw_fee,jd_t0_trade_rate,jd_t1_draw_fee,jd_t1_trade_rate,wy_t0_draw_fee,wy_t0_trade_rate,wy_t1_draw_fee,wy_t1_trade_rate,create_by, create_date, update_by, update_date,del_flag
  </sql>
  <select id="selectByExample" parameterType="com.epay.scanposp.entity.MemberMerchantCodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_member_merchant_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart&gt;=0">
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bu_member_merchant_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu_member_merchant_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.epay.scanposp.entity.MemberMerchantCodeExample">
    delete from bu_member_merchant_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  
  <select id="countByExample" parameterType="com.epay.scanposp.entity.MemberMerchantCodeExample" resultType="java.lang.Integer">
    select count(*) from bu_member_merchant_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  
  
  
</mapper>