<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.epay.scanposp.dao.MsSettleFailRecordMapper" >
  <resultMap id="BaseResultMap" type="com.epay.scanposp.entity.MsSettleFailRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cooperator" property="cooperator" jdbcType="VARCHAR" />
    <result column="txlx" property="txlx" jdbcType="VARCHAR" />
    <result column="smzf_msg_id" property="smzfMsgId" jdbcType="VARCHAR" />
    <result column="req_msg_id" property="reqMsgId" jdbcType="VARCHAR" />
    <result column="qs_date" property="qsDate" jdbcType="VARCHAR" />
    <result column="acc_no" property="accNo" jdbcType="VARCHAR" />
    <result column="acc_name" property="accName" jdbcType="VARCHAR" />
    <result column="bank_type" property="bankType" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="draw_amount" property="drawAmount" jdbcType="DECIMAL" />
    <result column="resp_type" property="respType" jdbcType="CHAR" />
    <result column="resp_code" property="respCode" jdbcType="CHAR" />
    <result column="resp_msg" property="respMsg" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cooperator, txlx, smzf_msg_id, req_msg_id, qs_date, acc_no, acc_name, bank_type, 
    bank_name, draw_amount, resp_type, resp_code, resp_msg, create_by, create_date, update_by, 
    update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.epay.scanposp.entity.MsSettleFailRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_ms_settle_fail_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_ms_settle_fail_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_ms_settle_fail_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.epay.scanposp.entity.MsSettleFailRecordExample" >
    delete from bu_ms_settle_fail_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.epay.scanposp.entity.MsSettleFailRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into bu_ms_settle_fail_record (cooperator, txlx, smzf_msg_id, 
      req_msg_id, qs_date, acc_no, 
      acc_name, bank_type, bank_name, 
      draw_amount, resp_type, resp_code, 
      resp_msg, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag)
    values (#{cooperator,jdbcType=VARCHAR}, #{txlx,jdbcType=VARCHAR}, #{smzfMsgId,jdbcType=VARCHAR}, 
      #{reqMsgId,jdbcType=VARCHAR}, #{qsDate,jdbcType=VARCHAR}, #{accNo,jdbcType=VARCHAR}, 
      #{accName,jdbcType=VARCHAR}, #{bankType,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, 
      #{drawAmount,jdbcType=DECIMAL}, #{respType,jdbcType=CHAR}, #{respCode,jdbcType=CHAR}, 
      #{respMsg,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.epay.scanposp.entity.MsSettleFailRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into bu_ms_settle_fail_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cooperator != null" >
        cooperator,
      </if>
      <if test="txlx != null" >
        txlx,
      </if>
      <if test="smzfMsgId != null" >
        smzf_msg_id,
      </if>
      <if test="reqMsgId != null" >
        req_msg_id,
      </if>
      <if test="qsDate != null" >
        qs_date,
      </if>
      <if test="accNo != null" >
        acc_no,
      </if>
      <if test="accName != null" >
        acc_name,
      </if>
      <if test="bankType != null" >
        bank_type,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="drawAmount != null" >
        draw_amount,
      </if>
      <if test="respType != null" >
        resp_type,
      </if>
      <if test="respCode != null" >
        resp_code,
      </if>
      <if test="respMsg != null" >
        resp_msg,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cooperator != null" >
        #{cooperator,jdbcType=VARCHAR},
      </if>
      <if test="txlx != null" >
        #{txlx,jdbcType=VARCHAR},
      </if>
      <if test="smzfMsgId != null" >
        #{smzfMsgId,jdbcType=VARCHAR},
      </if>
      <if test="reqMsgId != null" >
        #{reqMsgId,jdbcType=VARCHAR},
      </if>
      <if test="qsDate != null" >
        #{qsDate,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null" >
        #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="accName != null" >
        #{accName,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="drawAmount != null" >
        #{drawAmount,jdbcType=DECIMAL},
      </if>
      <if test="respType != null" >
        #{respType,jdbcType=CHAR},
      </if>
      <if test="respCode != null" >
        #{respCode,jdbcType=CHAR},
      </if>
      <if test="respMsg != null" >
        #{respMsg,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.epay.scanposp.entity.MsSettleFailRecordExample" resultType="java.lang.Integer" >
    select count(*) from bu_ms_settle_fail_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_ms_settle_fail_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cooperator != null" >
        cooperator = #{record.cooperator,jdbcType=VARCHAR},
      </if>
      <if test="record.txlx != null" >
        txlx = #{record.txlx,jdbcType=VARCHAR},
      </if>
      <if test="record.smzfMsgId != null" >
        smzf_msg_id = #{record.smzfMsgId,jdbcType=VARCHAR},
      </if>
      <if test="record.reqMsgId != null" >
        req_msg_id = #{record.reqMsgId,jdbcType=VARCHAR},
      </if>
      <if test="record.qsDate != null" >
        qs_date = #{record.qsDate,jdbcType=VARCHAR},
      </if>
      <if test="record.accNo != null" >
        acc_no = #{record.accNo,jdbcType=VARCHAR},
      </if>
      <if test="record.accName != null" >
        acc_name = #{record.accName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankType != null" >
        bank_type = #{record.bankType,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null" >
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.drawAmount != null" >
        draw_amount = #{record.drawAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.respType != null" >
        resp_type = #{record.respType,jdbcType=CHAR},
      </if>
      <if test="record.respCode != null" >
        resp_code = #{record.respCode,jdbcType=CHAR},
      </if>
      <if test="record.respMsg != null" >
        resp_msg = #{record.respMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_ms_settle_fail_record
    set id = #{record.id,jdbcType=INTEGER},
      cooperator = #{record.cooperator,jdbcType=VARCHAR},
      txlx = #{record.txlx,jdbcType=VARCHAR},
      smzf_msg_id = #{record.smzfMsgId,jdbcType=VARCHAR},
      req_msg_id = #{record.reqMsgId,jdbcType=VARCHAR},
      qs_date = #{record.qsDate,jdbcType=VARCHAR},
      acc_no = #{record.accNo,jdbcType=VARCHAR},
      acc_name = #{record.accName,jdbcType=VARCHAR},
      bank_type = #{record.bankType,jdbcType=VARCHAR},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      draw_amount = #{record.drawAmount,jdbcType=DECIMAL},
      resp_type = #{record.respType,jdbcType=CHAR},
      resp_code = #{record.respCode,jdbcType=CHAR},
      resp_msg = #{record.respMsg,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.epay.scanposp.entity.MsSettleFailRecord" >
    update bu_ms_settle_fail_record
    <set >
      <if test="cooperator != null" >
        cooperator = #{cooperator,jdbcType=VARCHAR},
      </if>
      <if test="txlx != null" >
        txlx = #{txlx,jdbcType=VARCHAR},
      </if>
      <if test="smzfMsgId != null" >
        smzf_msg_id = #{smzfMsgId,jdbcType=VARCHAR},
      </if>
      <if test="reqMsgId != null" >
        req_msg_id = #{reqMsgId,jdbcType=VARCHAR},
      </if>
      <if test="qsDate != null" >
        qs_date = #{qsDate,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null" >
        acc_no = #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="accName != null" >
        acc_name = #{accName,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        bank_type = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="drawAmount != null" >
        draw_amount = #{drawAmount,jdbcType=DECIMAL},
      </if>
      <if test="respType != null" >
        resp_type = #{respType,jdbcType=CHAR},
      </if>
      <if test="respCode != null" >
        resp_code = #{respCode,jdbcType=CHAR},
      </if>
      <if test="respMsg != null" >
        resp_msg = #{respMsg,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.epay.scanposp.entity.MsSettleFailRecord" >
    update bu_ms_settle_fail_record
    set cooperator = #{cooperator,jdbcType=VARCHAR},
      txlx = #{txlx,jdbcType=VARCHAR},
      smzf_msg_id = #{smzfMsgId,jdbcType=VARCHAR},
      req_msg_id = #{reqMsgId,jdbcType=VARCHAR},
      qs_date = #{qsDate,jdbcType=VARCHAR},
      acc_no = #{accNo,jdbcType=VARCHAR},
      acc_name = #{accName,jdbcType=VARCHAR},
      bank_type = #{bankType,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      draw_amount = #{drawAmount,jdbcType=DECIMAL},
      resp_type = #{respType,jdbcType=CHAR},
      resp_code = #{respCode,jdbcType=CHAR},
      resp_msg = #{respMsg,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>