<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epay.scanposp.dao.PayResultNoticeMapper">
  <resultMap id="BaseResultMap" type="com.epay.scanposp.entity.PayResultNotice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_code" jdbcType="VARCHAR" property="memberCode" />
    <result column="pay_money" jdbcType="DECIMAL" property="payMoney" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="order_num_outer" jdbcType="VARCHAR" property="orderNumOuter" />
    <result column="return_url" jdbcType="VARCHAR" property="returnUrl" />
    <result column="counts" jdbcType="INTEGER" property="counts" />
    <result column="pay_type" jdbcType="CHAR" property="payType" />
    <result column="pay_time" jdbcType="VARCHAR" property="payTime" />
    <result column="platform_type" jdbcType="CHAR" property="platformType" />
    <result column="interface_type" jdbcType="CHAR" property="interfaceType" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="resp_type" jdbcType="CHAR" property="respType" />
    <result column="result_code" jdbcType="CHAR" property="resultCode" />
    <result column="result_message" jdbcType="VARCHAR" property="resultMessage" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, member_code, pay_money, order_code, order_num_outer, return_url, counts, pay_type, 
    pay_time, platform_type, interface_type, status, resp_type, result_code, result_message, 
    create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.epay.scanposp.entity.PayResultNoticeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_pay_result_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart&gt;=0">
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bu_pay_result_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu_pay_result_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.epay.scanposp.entity.PayResultNoticeExample">
    delete from bu_pay_result_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.epay.scanposp.entity.PayResultNotice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into bu_pay_result_notice (member_code, pay_money, order_code, 
      order_num_outer, return_url, counts, 
      pay_type, pay_time, platform_type, 
      interface_type, status, resp_type, 
      result_code, result_message, create_by, 
      create_date, update_by, update_date, 
      remarks, del_flag)
    values (#{memberCode,jdbcType=VARCHAR}, #{payMoney,jdbcType=DECIMAL}, #{orderCode,jdbcType=VARCHAR}, 
      #{orderNumOuter,jdbcType=VARCHAR}, #{returnUrl,jdbcType=VARCHAR}, #{counts,jdbcType=INTEGER}, 
      #{payType,jdbcType=CHAR}, #{payTime,jdbcType=VARCHAR}, #{platformType,jdbcType=CHAR}, 
      #{interfaceType,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{respType,jdbcType=CHAR}, 
      #{resultCode,jdbcType=CHAR}, #{resultMessage,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.epay.scanposp.entity.PayResultNotice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into bu_pay_result_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberCode != null">
        member_code,
      </if>
      <if test="payMoney != null">
        pay_money,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="orderNumOuter != null">
        order_num_outer,
      </if>
      <if test="returnUrl != null">
        return_url,
      </if>
      <if test="counts != null">
        counts,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="platformType != null">
        platform_type,
      </if>
      <if test="interfaceType != null">
        interface_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="respType != null">
        resp_type,
      </if>
      <if test="resultCode != null">
        result_code,
      </if>
      <if test="resultMessage != null">
        result_message,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberCode != null">
        #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null">
        #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNumOuter != null">
        #{orderNumOuter,jdbcType=VARCHAR},
      </if>
      <if test="returnUrl != null">
        #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="counts != null">
        #{counts,jdbcType=INTEGER},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=CHAR},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null">
        #{platformType,jdbcType=CHAR},
      </if>
      <if test="interfaceType != null">
        #{interfaceType,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="respType != null">
        #{respType,jdbcType=CHAR},
      </if>
      <if test="resultCode != null">
        #{resultCode,jdbcType=CHAR},
      </if>
      <if test="resultMessage != null">
        #{resultMessage,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.epay.scanposp.entity.PayResultNoticeExample" resultType="java.lang.Integer">
    select count(*) from bu_pay_result_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bu_pay_result_notice
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberCode != null">
        member_code = #{record.memberCode,jdbcType=VARCHAR},
      </if>
      <if test="record.payMoney != null">
        pay_money = #{record.payMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.orderCode != null">
        order_code = #{record.orderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNumOuter != null">
        order_num_outer = #{record.orderNumOuter,jdbcType=VARCHAR},
      </if>
      <if test="record.returnUrl != null">
        return_url = #{record.returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.counts != null">
        counts = #{record.counts,jdbcType=INTEGER},
      </if>
      <if test="record.payType != null">
        pay_type = #{record.payType,jdbcType=CHAR},
      </if>
      <if test="record.payTime != null">
        pay_time = #{record.payTime,jdbcType=VARCHAR},
      </if>
      <if test="record.platformType != null">
        platform_type = #{record.platformType,jdbcType=CHAR},
      </if>
      <if test="record.interfaceType != null">
        interface_type = #{record.interfaceType,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.respType != null">
        resp_type = #{record.respType,jdbcType=CHAR},
      </if>
      <if test="record.resultCode != null">
        result_code = #{record.resultCode,jdbcType=CHAR},
      </if>
      <if test="record.resultMessage != null">
        result_message = #{record.resultMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bu_pay_result_notice
    set id = #{record.id,jdbcType=INTEGER},
      member_code = #{record.memberCode,jdbcType=VARCHAR},
      pay_money = #{record.payMoney,jdbcType=DECIMAL},
      order_code = #{record.orderCode,jdbcType=VARCHAR},
      order_num_outer = #{record.orderNumOuter,jdbcType=VARCHAR},
      return_url = #{record.returnUrl,jdbcType=VARCHAR},
      counts = #{record.counts,jdbcType=INTEGER},
      pay_type = #{record.payType,jdbcType=CHAR},
      pay_time = #{record.payTime,jdbcType=VARCHAR},
      platform_type = #{record.platformType,jdbcType=CHAR},
      interface_type = #{record.interfaceType,jdbcType=CHAR},
      status = #{record.status,jdbcType=CHAR},
      resp_type = #{record.respType,jdbcType=CHAR},
      result_code = #{record.resultCode,jdbcType=CHAR},
      result_message = #{record.resultMessage,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.epay.scanposp.entity.PayResultNotice">
    update bu_pay_result_notice
    <set>
      <if test="memberCode != null">
        member_code = #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null">
        pay_money = #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNumOuter != null">
        order_num_outer = #{orderNumOuter,jdbcType=VARCHAR},
      </if>
      <if test="returnUrl != null">
        return_url = #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="counts != null">
        counts = #{counts,jdbcType=INTEGER},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=CHAR},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null">
        platform_type = #{platformType,jdbcType=CHAR},
      </if>
      <if test="interfaceType != null">
        interface_type = #{interfaceType,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="respType != null">
        resp_type = #{respType,jdbcType=CHAR},
      </if>
      <if test="resultCode != null">
        result_code = #{resultCode,jdbcType=CHAR},
      </if>
      <if test="resultMessage != null">
        result_message = #{resultMessage,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.epay.scanposp.entity.PayResultNotice">
    update bu_pay_result_notice
    set member_code = #{memberCode,jdbcType=VARCHAR},
      pay_money = #{payMoney,jdbcType=DECIMAL},
      order_code = #{orderCode,jdbcType=VARCHAR},
      order_num_outer = #{orderNumOuter,jdbcType=VARCHAR},
      return_url = #{returnUrl,jdbcType=VARCHAR},
      counts = #{counts,jdbcType=INTEGER},
      pay_type = #{payType,jdbcType=CHAR},
      pay_time = #{payTime,jdbcType=VARCHAR},
      platform_type = #{platformType,jdbcType=CHAR},
      interface_type = #{interfaceType,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      resp_type = #{respType,jdbcType=CHAR},
      result_code = #{resultCode,jdbcType=CHAR},
      result_message = #{resultMessage,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>