<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.epay.scanposp.dao.RegionMsgMapper" >
  <resultMap id="BaseResultMap" type="com.epay.scanposp.entity.RegionMsg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prov_cd" property="provCd" jdbcType="VARCHAR" />
    <result column="prov_nm" property="provNm" jdbcType="VARCHAR" />
    <result column="city_cd" property="cityCd" jdbcType="VARCHAR" />
    <result column="city_nm" property="cityNm" jdbcType="VARCHAR" />
    <result column="area_cd" property="areaCd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, prov_cd, prov_nm, city_cd, city_nm, area_cd
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.epay.scanposp.entity.RegionMsgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_region
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_region
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_region
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.epay.scanposp.entity.RegionMsgExample" >
    delete from bu_region
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.epay.scanposp.entity.RegionMsg" >
    insert into bu_region (id, prov_cd, prov_nm, 
      city_cd, city_nm, area_cd
      )
    values (#{id,jdbcType=INTEGER}, #{provCd,jdbcType=VARCHAR}, #{provNm,jdbcType=VARCHAR}, 
      #{cityCd,jdbcType=VARCHAR}, #{cityNm,jdbcType=VARCHAR}, #{areaCd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.epay.scanposp.entity.RegionMsg" >
    insert into bu_region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="provCd != null" >
        prov_cd,
      </if>
      <if test="provNm != null" >
        prov_nm,
      </if>
      <if test="cityCd != null" >
        city_cd,
      </if>
      <if test="cityNm != null" >
        city_nm,
      </if>
      <if test="areaCd != null" >
        area_cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="provCd != null" >
        #{provCd,jdbcType=VARCHAR},
      </if>
      <if test="provNm != null" >
        #{provNm,jdbcType=VARCHAR},
      </if>
      <if test="cityCd != null" >
        #{cityCd,jdbcType=VARCHAR},
      </if>
      <if test="cityNm != null" >
        #{cityNm,jdbcType=VARCHAR},
      </if>
      <if test="areaCd != null" >
        #{areaCd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.epay.scanposp.entity.RegionMsgExample" resultType="java.lang.Integer" >
    select count(*) from bu_region
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_region
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.provCd != null" >
        prov_cd = #{record.provCd,jdbcType=VARCHAR},
      </if>
      <if test="record.provNm != null" >
        prov_nm = #{record.provNm,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCd != null" >
        city_cd = #{record.cityCd,jdbcType=VARCHAR},
      </if>
      <if test="record.cityNm != null" >
        city_nm = #{record.cityNm,jdbcType=VARCHAR},
      </if>
      <if test="record.areaCd != null" >
        area_cd = #{record.areaCd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_region
    set id = #{record.id,jdbcType=INTEGER},
      prov_cd = #{record.provCd,jdbcType=VARCHAR},
      prov_nm = #{record.provNm,jdbcType=VARCHAR},
      city_cd = #{record.cityCd,jdbcType=VARCHAR},
      city_nm = #{record.cityNm,jdbcType=VARCHAR},
      area_cd = #{record.areaCd,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.epay.scanposp.entity.RegionMsg" >
    update bu_region
    <set >
      <if test="provCd != null" >
        prov_cd = #{provCd,jdbcType=VARCHAR},
      </if>
      <if test="provNm != null" >
        prov_nm = #{provNm,jdbcType=VARCHAR},
      </if>
      <if test="cityCd != null" >
        city_cd = #{cityCd,jdbcType=VARCHAR},
      </if>
      <if test="cityNm != null" >
        city_nm = #{cityNm,jdbcType=VARCHAR},
      </if>
      <if test="areaCd != null" >
        area_cd = #{areaCd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.epay.scanposp.entity.RegionMsg" >
    update bu_region
    set prov_cd = #{provCd,jdbcType=VARCHAR},
      prov_nm = #{provNm,jdbcType=VARCHAR},
      city_cd = #{cityCd,jdbcType=VARCHAR},
      city_nm = #{cityNm,jdbcType=VARCHAR},
      area_cd = #{areaCd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>