<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.epay.scanposp.dao.RoutewayDrawLogMapper" >
  <resultMap id="BaseResultMap" type="com.epay.scanposp.entity.RoutewayDrawLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="draw_id" property="drawId" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="order_num_outer" property="orderNumOuter" jdbcType="VARCHAR" />
    <result column="in_param" property="inParam" jdbcType="VARCHAR" />
    <result column="out_param" property="outParam" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, draw_id, order_code, order_num_outer, in_param,out_param,
    create_by, create_date, update_by, update_date, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.epay.scanposp.entity.RoutewayDrawLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_routeway_draw_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_routeway_draw_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_routeway_draw_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.epay.scanposp.entity.RoutewayDrawLogExample" >
    delete from bu_routeway_draw_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.epay.scanposp.entity.RoutewayDrawLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into bu_routeway_draw_log (draw_id, order_code, order_num_outer, 
      in_param, out_param, create_by, create_date, update_by, 
      update_date, del_flag
      )
    values (#{drawId,jdbcType=INTEGER},#{orderCode,jdbcType=VARCHAR}, #{orderNumOuter,jdbcType=VARCHAR}, 
      #{inParam,jdbcType=VARCHAR}, #{outParam,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.epay.scanposp.entity.RoutewayDrawLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into bu_routeway_draw_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="drawId != null" >
        draw_id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
	  <if test="orderNumOuter != null" >
        order_num_outer,
      </if>
      <if test="inParam != null" >
        in_param,
      </if>
      <if test="outParam != null" >
        out_param,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="drawId != null" >
        #{drawId,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNumOuter != null" >
        #{orderNumOuter,jdbcType=VARCHAR},
      </if>
      <if test="inParam != null" >
        #{inParam,jdbcType=VARCHAR},
      </if>
      <if test="outParam != null" >
        #{outParam,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.epay.scanposp.entity.RoutewayDrawLogExample" resultType="java.lang.Integer" >
    select count(*) from bu_routeway_draw_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
 
  
  <update id="updateByPrimaryKey" parameterType="com.epay.scanposp.entity.RoutewayDrawLog" >
    update bu_routeway_draw_log
    set draw_id = #{drawId,jdbcType=INTEGER},
      order_code = #{orderCode,jdbcType=VARCHAR},
      order_num_outer = #{orderNumOuter,jdbcType=VARCHAR},
      in_param = #{inParam,jdbcType=VARCHAR},
      out_param = #{outParam,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>