<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.epay.scanposp.dao.RoutewayDrawMapper" >
  <resultMap id="BaseResultMap" type="com.epay.scanposp.entity.RoutewayDraw" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_code" property="memberCode" jdbcType="VARCHAR" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="member_trade_rate" property="memberTradeRate" jdbcType="DECIMAL" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="draw_type" property="drawType" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="order_num_outer" property="orderNumOuter" jdbcType="VARCHAR" />
    <result column="pt_serial_no" property="ptSerialNo" jdbcType="VARCHAR" />
    <result column="req_date" property="reqDate" jdbcType="VARCHAR" />
    <result column="resp_date" property="respDate" jdbcType="VARCHAR" />
    <result column="resp_type" property="respType" jdbcType="CHAR" />
    <result column="resp_code" property="respCode" jdbcType="VARCHAR" />
    <result column="resp_msg" property="respMsg" jdbcType="VARCHAR" />
    <result column="drawAmount" property="drawamount" jdbcType="DECIMAL" />
    <result column="drawFee" property="drawfee" jdbcType="DECIMAL" />
    <result column="tradeFee" property="tradefee" jdbcType="DECIMAL" />
    <result column="settle_date" property="settleDate" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="audit_by" property="auditBy" jdbcType="VARCHAR" />
    <result column="audit_date" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="cert_no" property="certNo" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_id, member_code, merchant_code, member_trade_rate, money, draw_type,order_code, pt_serial_no,order_num_outer, req_date, 
    resp_date, resp_type, resp_code, resp_msg, drawAmount, drawFee, tradeFee, settle_date, 
    create_by, create_date, update_by, update_date, remarks, del_flag,audit_status,audit_by,audit_date,
    bank_name,bank_account,account_name,cert_no,tel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.epay.scanposp.entity.RoutewayDrawExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bu_routeway_draw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bu_routeway_draw
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bu_routeway_draw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.epay.scanposp.entity.RoutewayDrawExample" >
    delete from bu_routeway_draw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.epay.scanposp.entity.RoutewayDraw" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into bu_routeway_draw (member_id, member_code, merchant_code, 
      member_trade_rate,money, order_code, pt_serial_no, 
      req_date, resp_date, resp_type, 
      resp_code, resp_msg, drawAmount, 
      drawFee, tradeFee, settle_date, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag,audit_status,audit_by,audit_date
      )
    values (#{memberId,jdbcType=INTEGER}, #{memberCode,jdbcType=VARCHAR}, #{merchantCode,jdbcType=VARCHAR}, 
      #{memberTradeRate,jdbcType=DECIMAL},#{money,jdbcType=DECIMAL}, #{orderCode,jdbcType=VARCHAR}, #{ptSerialNo,jdbcType=VARCHAR}, 
      #{reqDate,jdbcType=VARCHAR}, #{respDate,jdbcType=VARCHAR}, #{respType,jdbcType=CHAR}, 
      #{respCode,jdbcType=VARCHAR}, #{respMsg,jdbcType=VARCHAR}, #{drawamount,jdbcType=DECIMAL}, 
      #{drawfee,jdbcType=DECIMAL}, #{tradefee,jdbcType=DECIMAL}, #{settleDate,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR},
      #{auditStatus,jdbcType=VARCHAR}, #{auditBy,jdbcType=VARCHAR},#{auditDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.epay.scanposp.entity.RoutewayDraw" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into bu_routeway_draw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberCode != null" >
        member_code,
      </if>
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="memberTradeRate != null" >
        member_trade_rate,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="ptSerialNo != null" >
        pt_serial_no,
      </if>
      <if test="reqDate != null" >
        req_date,
      </if>
      <if test="respDate != null" >
        resp_date,
      </if>
      <if test="respType != null" >
        resp_type,
      </if>
      <if test="respCode != null" >
        resp_code,
      </if>
      <if test="respMsg != null" >
        resp_msg,
      </if>
      <if test="drawamount != null" >
        drawAmount,
      </if>
      <if test="drawfee != null" >
        drawFee,
      </if>
      <if test="tradefee != null" >
        tradeFee,
      </if>
      <if test="settleDate != null" >
        settle_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditBy != null" >
        audit_by,
      </if>
      <if test="auditDate != null" >
        audit_date,
      </if>
      
      <if test="drawType != null" >
        draw_type,
      </if>
      <if test="orderNumOuter != null" >
        order_num_outer,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="certNo != null" >
        cert_no,
      </if>
      <if test="tel != null" >
        tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberCode != null" >
        #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="memberTradeRate != null" >
        #{memberTradeRate,jdbcType=DECIMAL},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="ptSerialNo != null" >
        #{ptSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="reqDate != null" >
        #{reqDate,jdbcType=VARCHAR},
      </if>
      <if test="respDate != null" >
        #{respDate,jdbcType=VARCHAR},
      </if>
      <if test="respType != null" >
        #{respType,jdbcType=CHAR},
      </if>
      <if test="respCode != null" >
        #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="respMsg != null" >
        #{respMsg,jdbcType=VARCHAR},
      </if>
      <if test="drawamount != null" >
        #{drawamount,jdbcType=DECIMAL},
      </if>
      <if test="drawfee != null" >
        #{drawfee,jdbcType=DECIMAL},
      </if>
      <if test="tradefee != null" >
        #{tradefee,jdbcType=DECIMAL},
      </if>
      <if test="settleDate != null" >
        #{settleDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditBy != null" >
        #{auditBy,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      
      <if test="drawType != null" >
        #{drawType,jdbcType=VARCHAR},
      </if>
      <if test="orderNumOuter != null" >
        #{orderNumOuter,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="certNo != null" >
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.epay.scanposp.entity.RoutewayDrawExample" resultType="java.lang.Integer" >
    select count(*) from bu_routeway_draw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bu_routeway_draw
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.memberCode != null" >
        member_code = #{record.memberCode,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantCode != null" >
        merchant_code = #{record.merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="record.memberTradeRate != null" >
        member_trade_rate = #{record.memberTradeRate,jdbcType=DECIMAL},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.orderCode != null" >
        order_code = #{record.orderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ptSerialNo != null" >
        pt_serial_no = #{record.ptSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="record.reqDate != null" >
        req_date = #{record.reqDate,jdbcType=VARCHAR},
      </if>
      <if test="record.respDate != null" >
        resp_date = #{record.respDate,jdbcType=VARCHAR},
      </if>
      <if test="record.respType != null" >
        resp_type = #{record.respType,jdbcType=CHAR},
      </if>
      <if test="record.respCode != null" >
        resp_code = #{record.respCode,jdbcType=VARCHAR},
      </if>
      <if test="record.respMsg != null" >
        resp_msg = #{record.respMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.drawamount != null" >
        drawAmount = #{record.drawamount,jdbcType=DECIMAL},
      </if>
      <if test="record.drawfee != null" >
        drawFee = #{record.drawfee,jdbcType=DECIMAL},
      </if>
      <if test="record.tradefee != null" >
        tradeFee = #{record.tradefee,jdbcType=DECIMAL},
      </if>
      <if test="record.settleDate != null" >
        settle_date = #{record.settleDate,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.auditBy != null" >
        audit_by = #{record.auditBy,jdbcType=VARCHAR},
      </if>
      <if test="record.auditDate != null" >
        audit_date = #{record.auditDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    
  </update>
  <update id="updateByExample" parameterType="map" >
    update bu_routeway_draw
    set id = #{record.id,jdbcType=INTEGER},
      member_id = #{record.memberId,jdbcType=INTEGER},
      member_code = #{record.memberCode,jdbcType=VARCHAR},
      merchant_code = #{record.merchantCode,jdbcType=VARCHAR},
      member_trade_rate = #{record.memberTradeRate,jdbcType=DECIMAL},
      money = #{record.money,jdbcType=DECIMAL},
      order_code = #{record.orderCode,jdbcType=VARCHAR},
      pt_serial_no = #{record.ptSerialNo,jdbcType=VARCHAR},
      req_date = #{record.reqDate,jdbcType=VARCHAR},
      resp_date = #{record.respDate,jdbcType=VARCHAR},
      resp_type = #{record.respType,jdbcType=CHAR},
      resp_code = #{record.respCode,jdbcType=VARCHAR},
      resp_msg = #{record.respMsg,jdbcType=VARCHAR},
      drawAmount = #{record.drawamount,jdbcType=DECIMAL},
      drawFee = #{record.drawfee,jdbcType=DECIMAL},
      tradeFee = #{record.tradefee,jdbcType=DECIMAL},
      settle_date = #{record.settleDate,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      audit_by = #{record.auditBy,jdbcType=VARCHAR},
      audit_date = #{record.auditDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.epay.scanposp.entity.RoutewayDraw" >
    update bu_routeway_draw
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberCode != null" >
        member_code = #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="memberTradeRate != null" >
        member_trade_rate = #{memberTradeRate,jdbcType=DECIMAL},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="ptSerialNo != null" >
        pt_serial_no = #{ptSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="reqDate != null" >
        req_date = #{reqDate,jdbcType=VARCHAR},
      </if>
      <if test="respDate != null" >
        resp_date = #{respDate,jdbcType=VARCHAR},
      </if>
      <if test="respType != null" >
        resp_type = #{respType,jdbcType=CHAR},
      </if>
      <if test="respCode != null" >
        resp_code = #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="respMsg != null" >
        resp_msg = #{respMsg,jdbcType=VARCHAR},
      </if>
      <if test="drawamount != null" >
        drawAmount = #{drawamount,jdbcType=DECIMAL},
      </if>
      <if test="drawfee != null" >
        drawFee = #{drawfee,jdbcType=DECIMAL},
      </if>
      <if test="tradefee != null" >
        tradeFee = #{tradefee,jdbcType=DECIMAL},
      </if>
      <if test="settleDate != null" >
        settle_date = #{settleDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditBy != null" >
        audit_by = #{auditBy,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.epay.scanposp.entity.RoutewayDraw" >
    update bu_routeway_draw
    set member_id = #{memberId,jdbcType=INTEGER},
      member_code = #{memberCode,jdbcType=VARCHAR},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      member_trade_rate = #{memberTradeRate,jdbcType=DECIMAL},
      money = #{money,jdbcType=DECIMAL},
      order_code = #{orderCode,jdbcType=VARCHAR},
      pt_serial_no = #{ptSerialNo,jdbcType=VARCHAR},
      req_date = #{reqDate,jdbcType=VARCHAR},
      resp_date = #{respDate,jdbcType=VARCHAR},
      resp_type = #{respType,jdbcType=CHAR},
      resp_code = #{respCode,jdbcType=VARCHAR},
      resp_msg = #{respMsg,jdbcType=VARCHAR},
      drawAmount = #{drawamount,jdbcType=DECIMAL},
      drawFee = #{drawfee,jdbcType=DECIMAL},
      tradeFee = #{tradefee,jdbcType=DECIMAL},
      settle_date = #{settleDate,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      audit_by = #{auditBy,jdbcType=VARCHAR},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      draw_type = #{drawType,jdbcType=VARCHAR},
      order_num_outer = #{orderNumOuter,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      cert_no = #{certNo,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>